{
    "singleQuote": true,
    "semi": true,
    "useTabs": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 140,
    "commentWidth": 200,
    "trailingComma": "all",
    "jsxSingleQuote":true 
  }
